LEAD_API_URL=
LEAD_API_KEY=
SENDGRID_API_KEY=
APP_URL=
UNSUBSCRIBE_SECRET=
INBOUND_WEBHOOK_SECRET=
SCHEDULER_SECRET=
SENDGRID_EVENT_PUBLIC_KEY=
SENDGRID_PARSE_PUBLIC_KEY=
INBOUND_REPLY_DOMAIN=
LIVE_SEND_ENABLED=false
